@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <title>Document</title>
</head>

<body style="height: 1000px;">
    <nav class="d-flex align-items-center justify-content-center" style="background-color: #607E98;">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Portfolio</a></li>
            <li class="logo"><img src="~/assets/imgs/logo-light.png" alt=""></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Shop</a></li>
            <li><a href="">Elements</a></li>
        </ul>
    </nav>



    <!-- 1ci Section  -->
    <section class="section-padding">
        <div class="container">
            <div class="section-content pb-5">
                <h2>We design delicious</h2>
                <div class=" text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy tincidunt ut
                        laoreet
                        dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4 items">
                    <img src="~/assets/imgs/item-1.jpg" alt="">
                    <h5 class="text-center">CREATIVE ELEMENTS</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
                        risus in nisl dapibus
                        fermentum vitae sed tortor. Ut hendrerit semper nulla.
                    </p>
                </div>
                <div class="col-4 items">
                    <img src="~/assets/imgs/item-1.jpg" alt="">
                    <h5 class="text-center">CREATIVE ELEMENTS</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget
                        risus in nisl dapibus
                        fermentum vitae sed tortor. Ut hendrerit semper nulla.
                    </p>
                </div>
                <div class="col-4 items">
                    <img src="~/assets/imgs/item-1.jpg" alt="">
                    <h5 class="text-center">CREATIVE ELEMENTS</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce <br> eget
                        risus in nisl dapibus
                        fermentum vitae sed tortor. Ut hendrerit semper nulla.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- 1ci Section END  -->
    <!-- 2Ci Section -->
    <section class="section-padding mini-section"
             style="background-image: url(https://baker.qodeinteractive.com/wp-content/uploads/2017/02/home-5-parallax.jpg) ;height: 400px;">
        <div class="container">
            <div class="row">
                <div class="col-6 " style="padding: 0 100px 0 0;">
                    <div class="padding-bar">
                        <h4>Marketing</h4>
                        <div class="bar d-flex">
                            <div class="d1-left"></div>
                            <div class="d1-right"></div>
                        </div>
                    </div>
                    <div class="padding-bar">
                        <h4>Photography</h4>
                        <div class="bar d-flex">
                            <div class="d1-left"></div>
                            <div class="d1-right"></div>
                        </div>
                    </div>
                    <div class="padding-bar">
                        <h4>Marketing</h4>
                        <div class="bar d-flex">
                            <div class="d1-left"></div>
                            <div class="d1-right"></div>
                        </div>
                    </div>
                </div>
                <div class="col-6 right-side">
                    <h2>Baked fresh simply delicious</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, and sed tincidunt ut laoreet dolore
                        magna aliquam erat volutpat lorem ipsum dolor amet
                    </p>
                    <a href="" class="btn btn-dark">Read More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- 2Ci Section END-->
    <!-- 3Cu Section  -->
    <section class="section-padding">
        <div class="container">
            <div class="section-content pb-5">
                <h2>We design delicious</h2>
                <div class=" text-center">
                    <p>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy<br> tincidunt ut
                        laoreet
                        dolore magna aliquam erat volutpat.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-3 png-items">
                    <img src="~/assets/imgs/png-item.png" alt="">
                    <h5 class="text-center">MONKEY BREAD</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in
                        nisl dapibus fermentum.
                    </p>
                </div>
                <div class="col-3 png-items">
                    <img src="~/assets/imgs/png-item.png" alt="">
                    <h5 class="text-center">MONKEY BREAD</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in
                        nisl dapibus fermentum.
                    </p>
                </div>
                <div class="col-3 png-items">
                    <img src="~/assets/imgs/png-item.png" alt="">
                    <h5 class="text-center">MONKEY BREAD</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in
                        nisl dapibus fermentum.
                    </p>
                </div>
                <div class="col-3 png-items">
                    <img src="~/assets/imgs/png-item.png" alt="">
                    <h5 class="text-center">MONKEY BREAD</h5>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget risus in
                        nisl dapibus fermentum.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- 3Cu Section END -->
    <!-- Footer -->

    <footer style="background-color:#232323">
        <div>
            <div class="row foot-rows">
                <div class="col-3 first-cont">
                    <div class="">
                        <img src="~/assets/imgs/logo-light.png" alt="">
                    </div>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus and error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis quasi
                    </p>
                    <span style="color:#9A9A9A;">Follow us:</span>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-twitter"></i>

                </div>
                <div class="col-3 twitter-post">
                    <h4>LATEST TWEETS</h4>
                    <i style="color:#E1BE64 ;" class="bi bi-twitter"></i>
                    <p style="margin-bottom:50px ;">
                        @@RobWattCT Hey, please DM us so we can provide more details. Thanks!
                        2 years ago
                    </p>
                    <br>
                    <i style="color:#E1BE64 ;" class="bi bi-twitter"></i>
                    <p>
                        Here comes La Comète! ☄️ https://t.co/ApIk6kk3Tt This stellar #WordPress theme is made for any
                        type
                        of modern… https://t.co/h2ZWqjR78O
                        3 years ago
                    </p>
                </div>
                <div class="col-3 insta-post">
                    <h4>INSTAGRAM FEED</h4>
                    <div class="row ">
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer-1.jpg" alt="">
                        </div>
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer-2.jpg" alt="">
                        </div>
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer-3.jpg" alt="">
                        </div>
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer-4.jpg" alt="">
                        </div>
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer-5.jpg" alt="">
                        </div>
                        <div class="col-4 p-0">
                            <img src="./assets/imgs/footer06.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-3 email">
                    <h4>JOIN THE CLUB</h4>
                    <div class="email-inp">
                        <input type="text" placeholder="Email Addres">
                        <input type="submit" name="" id="">
                    </div>
                    <p>Sign me up to receive emails on new product arrivals special offers.</p>
                    <hr style="color: #4E4E4E;">
                    <p>Contact us: <span class="span-color">00 34 938 60 24 24</span></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer END -->


    <script src="~/assets/js/main.js"></script>
</body>

</html>
